body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #08633d;
}

.search-box {
    margin: 20px;
}

input {
    padding: 10px;
    width: 250px;
}

button {
    padding: 10px 15px;
    cursor: pointer;
}

#results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

#results img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}
