<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<header class="navbar">
    <h1 class="logo">The New York Times</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/new/article">Add Article</a>
    </nav>
</header>

<main class="container">
