*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#body{
  background-image: url(https://www.google.com/imgres?q=screen%20%20balck&imgurl=https%3A%2F%2Fwww.whitescreen.online%2Fimage%2Fprank%2Fsmall%2Fbroken.webp&imgrefurl=https%3A%2F%2Fwww.whitescreen.online%2Fblack-screen%2F&docid=uNXjQ8tWMiij6M&tbnid=o-nRtAgKhLP_5M&vet=12ahUKEwjMhcndmLuSAxWd1gIHHRFqOKYQM3oECHEQAA..i&w=256&h=170&hcb=2&ved=2ahUKEwjMhcndmLuSAxWd1gIHHRFqOKYQM3oECHEQAA);

}
.content {
  border: 1px solid color(srgb rgb(219, 214, 214) green blue) ;
  border-radius: 20px;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 325px;

}
.screen{
  width: 100px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 3rem;
  
}