body {
    font-family: Arial, Helvetica, sans-serif;
    background: #7f6e8a;
    margin: 0;
    padding: 0;
}

/* container */
.container {
    width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

/* top bar  */
.top-bar {
    display: flex;
    justify-content:center;
    align-items:center;
    border-bottom: 1px solid #1e6410;
    padding-bottom: 20px;
    margin-bottom: 55px;
}

.location {
    font-size: 20px;
    color: #800080;
    font-weight: bold;
}

.top-search input {
    padding: 4px;
    border: 1px solid #999;
    width: 160px;
}

.top-search button {
    padding: 4px 10px;
    border: 1px solid #999;
    background: #f5f5f5;
    cursor: pointer;
}

.top-search button:hover {
    background: #e5e5e5;
}

/* side bar  */
.sidebar {
    float: left;
    width: 150px;
    padding-right: 20px;
    border-right: 1px solid #ccc;
}

.sidebar a {
    display: block;
    margin-bottom: 8px;
    color: #0000ee;
    text-decoration: none;
}

.sidebar a:hover {
    text-decoration: underline;
}

/* coluoms */
.columns {
    margin-left: 180px;
}

.column {
    float: left;
    width: 30%;
    margin-right: 3%;
}

.column h3 {
    color: #800080;
    font-size: 18px;
    margin-bottom: 8px;
}

.column ul {
    list-style: none;
    padding: 0;
}

.column li {
    margin-bottom: 5px;
}

.column a {
    color: #0000ee;
    text-decoration: none;
}

.column a:hover {
    text-decoration: underline;
}

